* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100%;
  background-color: #ffeedd;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.sign_in button {
  background-color: blue;
  padding: 5px;
  color: white;
}

.subheadings {
  display: flex;
  flex-direction: row;

  color: darkblue;
}

/*All posts*/

.div_one {
  border: 1px solid;
  display: flex;
  height: 125px;
  width: 30%;
  border-radius: 20px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  background-color: #d3d3d3;
  border: none;
}

.subdiv_one {
  padding: 10px;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px 0px 0px 20px;
}

/*All container position changing*/

.container_one,
.container_two {
  display: flex;
  justify-content: space-between;

  padding: 30px;
}
#last_div {
  display: flex;
  justify-content: center;
}
#para {
  padding-left: 5px;
  font-size: 1rem;
  padding-top: 5px;
}

span {
  color: grey;
  padding-left: 30px;
}

#trashnew,
#ellipsis {
  cursor: pointer;
}

.modal {
  background-color: white;
  height: 110px;
  width: 20%;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 200ms ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.modal p {
  padding-top: 10px;
  text-align: center;
  font-weight: 200;
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  color: white;
}
.button button {
  height: 30px;
  width: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.active {
  opacity: 1;
  pointer-events: auto;
}
